nav {
    background-color: grey;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
    margin: auto;
}

div.section1nav nav ul li {
    list-style: none;
    display: block;
}

div.section1nav nav ul li a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    min-height: 16px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: brown;
    float: left;
}

div.section1nav nav ul li a:hover {
    color: ghostwhite;
    background-color: brown;
}

h3 {
    color: brown;
    text-shadow: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
}

.sect1 {
    text-align: center;
    display: block;
    width: auto;
    margin: 1%;
    padding: 1%;
}

button,
.button {
    font-weight: 400;
    color: ghostwhite;
    background-color: grey;
}

.button:hover {
    color: brown;
    background-color: ghostwhite;
    text-shadow: sienna;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}


/* ################## Mobile view ########################## */

@media screen and (max-width: 680px) {
    .sect1 {
        display: block;
        width: 100%;
    }
    input {
        border-radius: 10px;
        display: block;
    }
}